<activity
	android:name=".MainActivity"
	android:label="@string/title_ativity_main">
	<intent-filter>
		<action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.HOME" />
		<category android:name="anndroid.intnet.category.DEFAULT" />
	</intent-filter>
</activity>


